.item-detail-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    .item-detail {
        max-width: 500px;
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 5px;
    }
}


.card-detail {

    max-width: 100%;
    background-color: #ee9292;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
 

    .titulo-detail {
        font-size: 24px;
        margin-bottom: 25px;
        font-family: 'Arial Black', sans-serif;
        animation: fadeInUp 0.5s ease;

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

    .imagen-box-card-detail {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        :hover {
            transform: scale(1.1);
        }

        .imagen-card-detail {
            max-width: 100%;
            max-height: 300px;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }
    }

    .Info-card-detail {
        font-size: 15px;

        .descripcion-card-detail {
            font-size: 16px;
            color: #080303;
            margin-bottom: 10px;
        }

        .precio-card-detail {
            font-size: 20px;
            color: #333;
            font-weight: bold;
            font-family: 'Comic Sans MS', cursive;
            margin-top: 10px;
        }

        .stock-card-detail {
            font-weight: bold;
            font-family: 'Comic Sans MS';
        }
    }

    .addToCart-button {
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family: 'Comic Sans MS';
        gap: 2px;

        .item-count-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 5px;
        }

        .btn-add-to-cart {
            background-color: #050705;
            border: none;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
            font-family: 'Comic Sans MS';

        }

        .btn-add-to-cart:hover {
            background-color: #4845a0;
            /* Cambio de color al pasar el mouse */
        }

        .count-add-to-cart {
            margin-bottom: 10px;
            /* Margen inferior para separar del botón */
        }

    }

}